@using E_Shop.ViewModels
@model SupplierViewModel
@{}

<form asp-action="Create" enctype="multipart/form-data" method="post">
    <div class="card">
        <div class="card-header text-uppercase text-white text-center p-0" style="background:#21909F;">
            <p style="font-family: 'Brush Script'; font-size: 20px; padding-top: 15px;">Create Supplier</p>
        </div>
        <div class="row pt-3 col-10 m-auto">
            <div class="col-md-8">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label">Name<span class="st"> *</span></label>
                        <input asp-for="SupplierName" class="form-control" />
                        <span asp-validation-for="SupplierName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="form-group col-12">
                        <label class="control-label">Address<span class="st"> *</span></label>
                        <textarea asp-for="Address" class="form-control"></textarea>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="form-group col-md-12">
                        <label class="control-label">Contact Number<span class="st"> *</span></label>
                        <input asp-for="ContactNumber" class="form-control" />
                        <span asp-validation-for="ContactNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="form-group col-md-12">
                        <label class="control-label">Email</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group col-12 p-3">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-md-3">
                <input type="submit" value="Create" class="btn btn-success btn-block w-100" style="font-size: 18px;" />
            </div>
            <div class="col-md-3">
                <a class="btn btn-secondary btn-block w-100" asp-action="Index" style="font-size: 18px;">Back To List</a>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
