@using E_Shop.ViewModels
@model SupplierViewModel
@{}

<div class="card">
    <div class="card-header text-uppercase text-white text-center p-0" style="background:#21909F;">
        <p style="font-family: 'Brush Script'; font-size: 20px; padding-top: 15px;">Supplier Information</p>
    </div>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row pt-3 col-10 m-auto">
        <div class="col-md-8">
            <div class="row">
                <input asp-for="SupplierId" hidden />
                <div class="form-group col-md-12">
                    <label class="control-label">Name</label>
                    <input asp-for="SupplierName" class="form-control" readonly />
                </div>
            </div>

            <div class="row pt-2">
                <div class="form-group col-md-12">
                    <label class="control-label">Address</label>
                    <textarea asp-for="Address" class="form-control" readonly></textarea>
                </div>
            </div>

            <div class="row pt-2">
                <div class="form-group col-md-12">
                    <label class="control-label">Contact Number</label>
                    <input asp-for="ContactNumber" class="form-control" readonly />
                </div>
            </div>

            <div class="row pt-2">
                <div class="form-group col-md-12">
                    <label class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" readonly />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group col-12 p-3">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-md-3">
            <a class="btn btn-primary btn-block w-100" asp-action="Edit" asp-route-id="@Model.SupplierId" asp-route-pg="@TempData.Peek("CurrentPage")" style="font-size: 18px;">Back To Edit</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-secondary btn-block w-100" asp-action="Index" asp-route-pg="@TempData.Peek("CurrentPage")" style="font-size: 18px;">Back To List</a>
        </div>
        <div class="col-3"></div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
