@model E_Shop.ViewModels.TransactionTypeViewModel

@{
    ViewData["Title"] = "Create Transaction Type";
}

<h2>Create Transaction Type</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="TransactionTypeName" class="control-label"></label>
        <input asp-for="TransactionTypeName" class="form-control" />
        <span asp-validation-for="TransactionTypeName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>
