@using E_Shop.ViewModel
@model ProductViewModel
@{}
<form asp-action="Edit" enctype="multipart/form-data" method="post" onsubmit="return ValidateForm()">
    <div class="card">
        <div class="card-header text-uppercase text-white text-center p-0" style="background:#21909F;">
            <p style="font-family: 'Brush Script'; font-size: 20px; padding-top: 15px;">Product Information</p>
        </div>
        <div class="row pt-3 col-10 m-auto">
            <div class="col-md-8">
                <div class="row">
                    <input asp-for="ProductId" hidden />
                    <div class="form-group col-md-12">
                        <label class="control-label">Name<span class="st"> *</span></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="form-group col-12">
                        <label class="control-label">Price<span class="st"> *</span></label>
                        <input asp-for="Price" class="form-control"/>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="form-group col-md-12">
                        <label class="control-label">Unit</label>
                        <input asp-for="Unit" class="form-control" />
                        <span asp-validation-for="Unit" class="text-danger"></span>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="form-group col-md-12">
                        <label class="control-label">Description<span class="st"> *</span></label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="form-group col-md-12">
                        <input asp-for="isAvailable" type="checkbox" class="form-check-inline" />
                        <label class="control-label">Is Available?</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="form-group col-12">
                        <label class="control-label">Image</label>
                        <input type="hidden" asp-for="ImageUrl" />
                        <div class="custom-file">
                            <input asp-for="Image" class="custom-file-input form-control" id="Image"
                                   onchange="document.getElementById('PhotoPrv').src=window.URL.createObjectURL(this.files[0])">
                            <label class="custom-file-label" for="Image">@Model.ImageName</label>
                        </div>
                        <img id="PhotoPrv" src="~/images/@Model.ImageUrl" style="border: 1px; margin: 10px; width: 300px; height: 300px;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group col-12 p-3">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-md-3 ">
                <input type="submit" asp-route-id="@Model.ProductId" value="Update" class="btn btn-primary btn-block w-100" style="font-size: 18px;" />
            </div>
            <div class="col-md-3">
                <a class="btn btn-secondary btn-block w-100" asp-action="Index" style="font-size: 18px;"
                   asp-route-pg="@TempData.Peek("CurrentPage")">Back To List</a>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}