<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] E-Shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/dataTable/jquery.dataTables.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/E_Shop.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/alertify.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/jquery-confirm.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="main-header navbar navbar-expand  text-light" style="background-color: #1275AE;">
        <div class="container" style="font-size: 20px">
            <a asp-area="User" asp-action="Index" asp-controller="Home" style="color: white; text-decoration: none;">E-Shop</a>
            <a  id="cartdetails" class="nav-link" style="color: white;">
                <i class="fas fa-cart-plus"></i>
                <sup id="cart"> </sup>
            </a>
        </div>
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="main-footer text-center">
        <strong>Copyright &copy; 2023 </strong>
    </footer>
    <script src="~/js/all.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/dataTable/jquery.dataTables.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/alertify.js"></script>
    <script src="~/lib/bootstrap/dist/js/jquery-confirm.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
    function showErrorMessageBelowCtrl(ctrlId, message, show) {
        debugger
        var divHtml = '<div style="color:red;" id="' + ctrlId + '_err_div" >' + message + '</div>';
        if (show == true) {
            $('#' + ctrlId).addClass("highlight");
            $('#' + ctrlId).after(divHtml);
        } else {
            $('#' + ctrlId).removeClass("highlight");
            $('#' + ctrlId + '_err_div').remove();
        }
    }

    $(document).on("input propertychange", ".numbersonly", function (event) {
        var valstr = $(this).val();
        var id = $(this).attr("id");
        var val = parseint(valstr);
        if (isnan(val)) {
            $(this).val("");
        }
        else if (val < 0) {
            $(this).val("");
        } else {
            $(this).val(val);
        }
    });
</script>